
# Visual Studio
.vs/
*.user
*.VC.db

# Build output
x64/
Debug/
Release/
*.exe
*.obj
*.pdb
*.json

# Logs & temp
*.log
*.tmp

#intellij
.idea
.idea/
*.iml
out

ITSecurity/data/
data/
*.mv.db
*.trace.db
*.lock.db
