html, body {
  height: 100%;
  margin: 0;
}

app-root {
  height: 100%;
  display: block;
}

.app-container {
  height: 100vh;
}

.app-content {
  padding: 24px;
  height: calc(100vh - 64px); /* 64px = default toolbar height */
  overflow: auto;
}